<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Munkanemek idejének beállítása</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-label><b>Gél lakk időtartam</b><br /></ion-label>
    <ion-text>Mentett idő: {{ gelLakkMinutesFromServer }} perc</ion-text>
    <ion-select
      #selectedGelLakk
      (ionChange)="gelLakkChanged(selectedGelLakk.value)"
    >
      <ion-select-option value="60">60</ion-select-option>
      <ion-select-option value="90">90</ion-select-option>
      <ion-select-option value="120">120</ion-select-option>
      <ion-select-option value="150">150</ion-select-option>
      <ion-select-option value="180">180</ion-select-option>
    </ion-select>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveGelLakk()"
    >
      Mentés
    </ion-button>
  </ion-card-content>

  <ion-card-content>
    <ion-label><b>Műköröm időtartam</b><br /></ion-label>
    <ion-text>Mentett idő: {{ mukoromMinutesFromServer }} perc</ion-text>
    <ion-select
      #selectedMukorom
      (ionChange)="mukoromChanged(selectedMukorom.value)"
    >
      <ion-select-option value="60">60</ion-select-option>
      <ion-select-option value="90">90</ion-select-option>
      <ion-select-option value="120">120</ion-select-option>
      <ion-select-option value="150">150</ion-select-option>
      <ion-select-option value="180">180</ion-select-option>
    </ion-select>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveMukorom()"
    >
      Mentés
    </ion-button>
  </ion-card-content>

  <ion-card-content>
    <ion-label><b>Pedikűr időtartam</b><br /></ion-label>
    <ion-text>Mentett idő: {{ pedikurMinutesFromServer }} perc</ion-text>
    <ion-select
      #selectedPedikur
      (ionChange)="pedikurChanged(selectedPedikur.value)"
    >
      <ion-select-option value="60">60</ion-select-option>
      <ion-select-option value="90">90</ion-select-option>
      <ion-select-option value="120">120</ion-select-option>
      <ion-select-option value="150">150</ion-select-option>
      <ion-select-option value="180">180</ion-select-option>
    </ion-select>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="savePedikur()"
    >
      Mentés
    </ion-button>
  </ion-card-content>
</ion-content>
