<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Kapcsolatok</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-avatar class="avatar">
      <ion-img src="assets/imgs/RoniSzalonLogo.png"></ion-img>
    </ion-avatar>
  </ion-card-content>

  <ion-card-content>
    <p class="contacts">{{ contact }}</p>
    <p class="contacts" *ngIf="email != ''">E-mail cím: {{ email }}</p>
    <p class="contacts" *ngIf="tel != ''">Telefonszám: {{ tel }}</p>
  </ion-card-content>
</ion-content>
