<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="buttonText"
        defaultHref="/login"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f1="ngForm" (ngSubmit)="onSubmit(f1)" class="ion-margin-bottom">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="person" slot="start" color="primary"></ion-icon>
        <ion-input
          type="text"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="Név"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!name.valid && name.touched">
        <p class="errorMsg">* Név megadása kötelező</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-input
          type="email"
          name="email"
          ngModel
          email
          #emailCtrl="ngModel"
          placeholder="E-mail cím"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p class="errorMsg">* Érvénytelen e-mail cím</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="call" slot="start" color="primary"></ion-icon>
        <ion-input
          type="tel"
          name="phone"
          ngModel
          #phone="ngModel"
          placeholder="Telefonszám"
          required
          minlength="11"
          maxlength="11"
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!phone.valid && phone.touched">
        <p class="errorMsg">* Érvénytelen telefonszám</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-input
          type="password"
          name="password"
          ngModel
          #passwordCtrl="ngModel"
          placeholder="Jelszó"
          required
          minlength="8"
        >
        </ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
      >
        <p class="errorMsg">
          * A jelszónak minimum 8 karakter hosszúnak kell lennie
        </p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-input
          type="password"
          name="c_password"
          ngModel
          #c_passwordCtrl="ngModel"
          placeholder="Jelszó megerősítése"
          required
          minlength="8"
        >
        </ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="!c_passwordCtrl.valid && c_passwordCtrl.touched"
      >
        <p class="errorMsg">
          * A megerősítő jelszónak minimum 8 karakter hosszúnak kell lennie
        </p>
      </ion-text>
      <ion-text
        color="danger"
        *ngIf="!c_passwordCtrl.valid && c_passwordCtrl.value != passwordCtrl.value"
      >
        <p class="errorMsg">* Nem egyezik a két jelszó</p>
      </ion-text>
    </ion-list>

    <ion-button
      *ngIf="!isLoading"
      [disabled]="!f1.valid || (c_passwordCtrl.value != passwordCtrl.value)"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
    >
      Regisztráció
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button
        shape="round"
        color="primary"
        [disabled]="!f1.valid || (c_passwordCtrl.value != passwordCtrl.value)"
      >
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
