p{
    font-size: 0.8rem;
}

.apps{
    padding-left: 5%;
    padding-top: 3%;
}

.appText{
    font-size: large;
    font-style: normal;
    font-weight: bold;
}

.service{
    font-size: medium;
    padding-top: 3%;
}
