<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="borderBottom">
    <ion-item lines="full">
      <ion-button slot="end" fill="clear" (click)="editProfile()"
        >Módosítás</ion-button
      >
      <ion-label>
        <ion-text class="ion-text-uppercase"
          ><h4>{{profile?.name}}</h4></ion-text
        >
        <p>{{profile?.phone}} | {{profile?.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="apps">
    <ion-text class="ion-text-uppercase">Foglalt időpontok</ion-text>
    <ion-list *ngFor="let app of sorted" lines="full">
      <ion-label *ngIf="app.uid == _uid">
        <p class="service">{{ app.service }}</p>
        <p>{{ app.time|date: 'YYYY.MM.dd.' }} - {{ app.time|date: 'HH:mm' }}</p>
        <ion-button slot="end" fill="clear" (click)="remove(app.key)"
          >Törlés</ion-button
        >
      </ion-label>
    </ion-list>
  </ion-list>
</ion-content>
