<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Főoldal</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="confirmLogout()">
        <ion-icon name="power-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [bannerImages]="banners"></app-banner>

  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h1>Szolgáltatások</h1>
      </ion-label>
    </ion-list-header>
    <ion-item-group *ngIf="services?.length > 0">
      <app-salon
        *ngFor="let service of services"
        [service]="service"
      ></app-salon>
    </ion-item-group>
  </ion-list>
</ion-content>
