<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Kapcsolat beállítása</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item *ngIf="getContact != ''">
      <ion-text
        ><b>Mentett kontakt adatok:</b> <br />{{ getContact }} <br />E-mail cím:
        {{ getEmail }}<br />Telefonszám: {{ getTel }}</ion-text
      >
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        text-right
        maxLength="1000"
        placeholder="Kapcsolat infó leírás (max. 1000 karakter)"
        [(ngModel)]="contact"
      ></ion-input>
    </ion-item>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveContactIntro()"
    >
      Mentés
    </ion-button>

    <ion-item>
      <ion-input
        type="text"
        text-right
        maxLength="30"
        placeholder="E-mail cím"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveEmail()"
    >
      Mentés
    </ion-button>

    <ion-item>
      <ion-input
        type="text"
        text-right
        maxLength="30"
        placeholder="Telefonszám"
        [(ngModel)]="tel"
      ></ion-input>
    </ion-item>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveTel()"
    >
      Mentés
    </ion-button>
  </ion-card-content>
</ion-content>
