<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Rólam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-avatar class="avatar">
      <ion-img src="assets/imgs/RoniSzalonLogo.png"></ion-img>
    </ion-avatar>
  </ion-card-content>

  <ion-card-content>
    <ion-text>
      <h4 class="aboutMe">{{ aboutMe }}</h4>
    </ion-text>
  </ion-card-content>
</ion-content>
