<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Admin Felület</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logout()">
        <ion-icon name="power-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-margin"
          expand="block"
          color="primary"
          shape="round"
          routerLink="/admin/admin-appointments"
          >Időpontok kezelése</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          class="ion-margin"
          expand="block"
          color="primary"
          shape="round"
          routerLink="/admin/admin-about"
          >Bemutatkozás beállítása</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          class="ion-margin"
          expand="block"
          color="primary"
          shape="round"
          routerLink="/admin/admin-contact"
          >Kapcsolat beállítása</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          class="ion-margin"
          expand="block"
          color="primary"
          shape="round"
          routerLink="/admin/admin-services"
          >Munkanemek idejének beállítása</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
