<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>FŐOLDAL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointment">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>IDŐPONT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>PROFIL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>RÓLAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>KAPCSOLAT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
