<ion-content class="ion-padding">
  <ion-avatar>
    <ion-img src="assets/imgs/RoniSzalonLogo.png"></ion-img>
  </ion-avatar>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="ion-margin-bottom">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon>
        <ion-input
          type="email"
          name="email"
          ngModel
          email
          #emailCtrl="ngModel"
          placeholder="E-mail cím"
          required
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p class="errorMsg">* Érvénytelen e-mail cím</p>
      </ion-text>

      <ion-item color="light">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-icon
          color="primary"
          slot="end"
          (click)="changeType()"
          [name]="iconName"
        ></ion-icon>
        <ion-input
          [type]="type"
          name="password"
          ngModel
          #passwordCtrl="ngModel"
          placeholder="Jelszó"
          required
          minlength="8"
        >
        </ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
      >
        <p class="errorMsg">
          * A jelszónak minimum 8 karakter hosszúnak kell lennie
        </p>
      </ion-text>
    </ion-list>

    <p class="ion-text-right" routerLink="/login/forgot-password">
      Elfelejtett jelszó?
    </p>

    <ion-button
      *ngIf="!isLogin"
      [disabled]="!f.valid"
      expand="block"
      shape="round"
      type="submit"
      color="primary"
    >
      Bejelentkezés
    </ion-button>

    <div class="ion-text-center" *ngIf="isLogin">
      <ion-button shape="round" color="primary" [disabled]="!f.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
  </form>

  <ion-text color="primary" class="ion-text-center" routerLink="/login/signup">
    <p class="marginTop">
      Nincs még fiókod?
      <b>Regisztrálj</b>
    </p>
  </ion-text>
</ion-content>
