ion-avatar {
    height: 20vh;
    width: 20vh;
    margin: 5vh auto;
    ion-img{
        width: 100%;
        height: 100%;
    }
}

.errorMsg{
    font-size: 0.8rem;
}

ion-button {
    margin-top: 5vh;
}

.marginTop{
    margin-top: 5vh;
}