<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Bemutatkozás</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item *ngIf="aboutMe != ''">
      <ion-text><b>Mentett bemutatkozás:</b> <br />{{ aboutMe }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        text-right
        maxLength="1000"
        placeholder="Itt írhatod meg a bemutatkozásodat (max. 1000 karakter)"
        [(ngModel)]="intro"
      ></ion-input>
    </ion-item>
    <ion-button
      fill="outline"
      color="primary"
      expand="block"
      shape="round"
      (click)="saveIntro()"
    >
      Mentés
    </ion-button>
  </ion-card-content>
</ion-content>
