<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Profil módosítása</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list class="ion-padding-horizontal ion-margin-bottom">
      <ion-item class="ion-magin-vertical">
        <ion-label position="floating">Név</ion-label>
        <ion-input
          type="name"
          required
          minlength="7"
          name="name"
          [ngModel]="profile?.name"
          #name="ngModel"
        >
        </ion-input>
        <ion-icon
          *ngIf="name.valid"
          name="checkmark-outline"
          slot="end"
          color="primary"
        ></ion-icon>
      </ion-item>

      <ion-item class="ion-magin-vertical">
        <ion-label position="floating">Telefonszám</ion-label>
        <ion-input
          type="tel"
          minlength="11"
          maxlength="11"
          required
          name="phone"
          [ngModel]="profile?.phone"
          #phone="ngModel"
        >
        </ion-input>
        <ion-icon
          *ngIf="phone.valid"
          name="checkmark-outline"
          slot="end"
          color="primary"
        ></ion-icon>
      </ion-item>
    </ion-list>

    <div class="ion-padding-horizontal">
      <ion-button
        *ngIf="!isSubmitted"
        expand="block"
        type="submit"
        color="primary"
        shape="round"
        [disabled]="!f.valid"
      >
        Frissítés
      </ion-button>
      <ion-button *ngIf="isSubmitted" color="primary" [disabled]="!f.valid">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
