<div class="borderBottom" *ngIf="bannerImages.length > 0">
  <ion-slides pager loop slidePerView="1" [options]="slideOptions">
    <ion-slide *ngFor="let image of bannerImages">
      <div [ngStyle]="{'background-image':'url(' + image.banner + ')'}"></div>
    </ion-slide>
  </ion-slides>
</div>