ion-slides {
    --bullet-background: black;
    height: 100%;
    div {
      height: 20vh;
      width: 94%;
      margin: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 2px;
    }
  }