<ion-list>
  <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="service?.cover ? service.cover : 'assets/imgs/1.jpg'"/>
    </ion-thumbnail>
    <ion-label>
      <h4>{{service?.name}}</h4>
      <ion-text color="tertiary">
        <p>
          {{service?.price}}
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-list>