ion-item{
    font-size: 0.8rem;
    ion-thumbnail{
        height: 16vh;
        width: 25wh;
        img{
            border-radius: 5px;
            height: 14vh;
            width: 100%;
        }
    }
    h4{
        font-size: 1rem;
        font-weight: bold;
    }
}

