<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Időpontok kezelése</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-item>
      <ion-text
        ><b>Ide kattintva foglalhatsz időpontot vendégeidnek</b></ion-text
      >
    </ion-item>
    <ion-button
      fill="outline"
      expand="block"
      color="primary"
      shape="round"
      (click)="openReserveApp()"
      >Adatok megadása</ion-button
    >
  </ion-card-content>

  <ion-card-content *ngIf="openReserveAppointment == true">
    <ion-list>
      <ion-item>
        <ion-icon name="person-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Vendég</ion-label>
        <ion-select
          #selectedUser
          (ionChange)="customerChanged(selectedUser.value)"
          [(ngModel)]="selectedUserUid"
        >
          <ion-select-option *ngFor="let user of userList" [value]="user.uid"
            >{{ user.name }} ({{ user.email }})</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <br />
    <ion-list>
      <ion-item>
        <ion-icon name="leaf-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Szolgáltatás</ion-label>
        <ion-select
          #selectedService
          (ionChange)="serviceChanged(selectedService.value)"
          [(ngModel)]="event.service"
        >
          <ion-select-option value="Gél lakk">Gél lakk</ion-select-option>
          <ion-select-option value="Műköröm">Műköröm</ion-select-option>
          <ion-select-option value="Pedikűr">Pedikűr</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <br />
    <ion-item (click)="showPicker = !showPicker">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Dátum</ion-label>
      <ion-text slot="end"> {{ formattedString }} </ion-text>
    </ion-item>
    <ion-datetime
      *ngIf="showPicker"
      presentation="date"
      #datetime
      [value]="dateValue"
      [min]="minDate"
      [isDateEnabled]="isWeekday"
      size="cover"
      (ionChange)="dateChanged(datetime.value)"
      (ionCancel)="showPicker = false"
      [firstDayOfWeek]="1"
      locale="hu-HU"
    >
    </ion-datetime>
    <br />

    <ion-item (click)="showTimePicker = !showTimePicker">
      <ion-icon icon="time-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Időpont</ion-label>
      <ion-text slot="end"> {{ formattedTime }} </ion-text>
    </ion-item>
    <ion-datetime
      *ngIf="showTimePicker"
      presentation="time"
      #getTime
      [(ngModel)]="event.startTime"
      (ionChange)="timeChanged(getTime.value)"
      (ionCancel)="showTimePicker = false"
      firstDayOfWeek="1"
      [hourValues]="hourValue"
      [minuteValues]="minuteValue"
      [firstDayOfWeek]="1"
      locale="hu-HU"
    >
    </ion-datetime>

    <br />
    <ion-button
      fill="outline"
      expand="block"
      (click)="addAppointment()"
      shape="round"
      [disabled]="event.service == ''"
      >Időpont lefoglalása
    </ion-button>
  </ion-card-content>

  <ion-card-content>
    <ion-item>
      <ion-text><b>Ide kattintva törölhetsz időpontokat</b></ion-text>
    </ion-item>
    <ion-button
      fill="outline"
      expand="block"
      color="primary"
      shape="round"
      (click)="openDeleteApp()"
      >Foglalt időpontok</ion-button
    >
  </ion-card-content>

  <ion-card-content *ngIf="openDeleteAppointment == true">
    <ion-list class="apps">
      <ion-list *ngFor="let app of sorted" lines="full">
        <ion-label>
          <p class="service">{{ app.name }}</p>
          <p class="service">{{ app.service }}</p>
          <p>
            {{ app.time|date: 'YYYY.MM.dd.' }} - {{ app.time|date: 'HH:mm' }}
          </p>
          <ion-button slot="end" fill="clear" (click)="remove(app.key)"
            >Törlés</ion-button
          >
        </ion-label>
      </ion-list>
    </ion-list>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col class="leftButton">
        <ion-button fill="outline" (click)="back()" shape="round"
          >Előző hét
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="rightButton">
        <ion-button fill="outline" (click)="next()" shape="round"
          >Következő hét
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTimeSelected)="onTimeSelected($event)"
    formatWeekViewDayHeader="MMM d"
    formatHourColumn="HH:mm"
    [step]="calendar.step"
    [startHour]="calendar.startHour"
    [endHour]="calendar.endHour"
    [startingDayWeek]="calendar.startingDayWeek"
    lang="hu"
  >
  </calendar>
</ion-content>
