<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Elfelejtett jelszó</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f2="ngForm" (ngSubmit)="onSubmit(f2)">
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon color="primary" name="mail" slot="start"></ion-icon>
        <ion-input
          type="email"
          ngModel
          name="email"
          email
          required
          #emailCtrl="ngModel"
          placeholder="E-mail cím"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p>*Nem valid e-mail cím</p>
      </ion-text>
    </ion-list>

    <div class="ion-text-center">
      <ion-button
        *ngIf="!isLoading"
        type="submit"
        color="primary"
        shape="round"
        [disabled]="!f2.valid"
        >Link küldése</ion-button
      >
      <ion-button
        *ngIf="isLoading"
        shape="round"
        color="primary"
        shape="round"
        [disabled]="!f2.valid"
      >
        <ion-spinner name="crescent"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
