/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

@import "../node_modules/@syncfusion/ej2/material.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

ion-title {
  font-weight: bold;
}

ion-label,
h4 {
  font-weight: bold !important;
  font-size: 0.9rem;
}
h1 {
  font-weight: bold !important;
  font-size: 1.1rem;
}
ion-note,
p {
  font-size: 0.8rem;
}
h5 {
  font-size: 0.85rem;
}
h6 {
  font-size: 0.82rem;
}
.borderBottom {
  border-bottom: 1.5vh solid var(--ion-color-light);
}
